<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

        <script src="jquery.mousewheel.js"></script>
        <script src="svgscroller.js"></script>

        <!--<script src="svg-pan-zoom.js"></script>-->

        <link href="main.css" rel="stylesheet" />
    </head>

    <body>
    <div class="doc">

        <h2>Overview</h2>
        <span id="description">
            
            <table>
                <tr>
                    <th></th>
                    <th>Alt</th>
                    <th>Ref</th>
                    <th>Amb</th>
                </tr>

                {% for samplename, row in results_table.iteritems() %}
                    <tr>
                        <td>{{ samplename }}</td>
                        
                        {% for cell in ["alt", "ref", "amb"] %}
                            <td>{{ row[cell] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </span>

        {% for allele in ["alt", "ref", "amb"] %}        
            <h2>{% filter capitalize %}{{ allele }}{% endfilter %}</h2>
            <div id="{{ allele }}_result">
                <div class="scrollsalot">
                    <div class="svg_container">

                        {% for sample in samples %}
                            <div class="one_svg {{ sample }}">
                                <div style="position:absolute; z-index:1;left:0; top:0; padding: 2px; background-color: rgba(255,255,255,0.7);">{{ sample }}</div>
                                <div class="track"></div>
                            </div>
                            {% if not loop.last %}
                                <div style="height:2px; background-color:gray;"></div>
                            {% endif %}

                        {% endfor %}

                        <div class="one_svg axis">
                            <div class="track"></div>
                        </div>

                    </div>
                </div>
                <p class="info"></p>
            </div>
        {% endfor %}

        {% if insertSizeDistributions %}
            {% for name in insertSizeDistributions %}
              <image src="_isizes/{{ name }}.svg" width="500" height="500" />
<!--               <object type="image/svg+xml" data="_isizes/{{ name }}.svg">
              </object>
 -->            {% endfor %}
        {% endif %}
        <script src="interface.js"></script>

    </body>
</html>
