.selectbox {
    display: none;
    z-index: 9000;
    position: absolute !important;
    cursor: default !important;

    background-color:rgba(239, 28, 190, 0.6);
    /*visibility: hidden;*/

    left: 10;
    top: 10;
    width: 100;
    height: 200;
}


.selectbox > div {
  position: absolute;
  left: 0px !important;
  top: 2px !important;
}

#selspan {
  background-color: rgba(0, 28, 190, 0.6);
  border: 10px solid #b20e8c;
  width: 100%;
  height: 100%;
  float: left;
}

#description td {
  padding: 2px 10px;
}

svg {
  height: 500px;
  border: 2px solid #5d5d5d;
  position: relative;
}

/*#tooltip {
  font-size: 100px;
}*/

.info {
  height: 150px;
  width: 1500px;
  overflow: visible;
}